/* RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
}

/* UTILS */

/* .container {
  max-width: 1080px;
  padding: 0;
}

body {
} */

/* DEBUG */

header {
  min-height: 100px;
}

#side-bar {
  width: 100px;
  height: calc(100% - 100px);
  background-color: hsl(208.1, 82.5%, 11.2%);
}

.card {
  background-color: blueviolet;
  border: 2px solid red;
  min-height: 100px;
}

/* UTILS */

.flex-container {
  display: flex;
}

/* HEADER */
#header {
  background-color: white;
}

/* MAIN */
#main {
  background-color: hsl(0, 0%, 96.9%);
  width: calc(100% - 100px);
}

#upper-bar {
  background-color: hsl(214.5, 81.7%, 50.8%);
  min-height: 100px;
}
