/* RESET
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
} */

ul {
  list-style: none;
}

li {
  display: inline-block;
}

/* a {
  color: inherit;
} */

/* UTILS */

/* .container {
  max-width: 1080px;
  padding: 0;
}*/

/* DEBUG */

.debug {
  background-color: green;
  border: 2px solid orange;
}

header {
  min-height: 100px;
}

#side-bar {
  width: 100px;
  height: calc(100vh - 100px);
  background-color: hsl(208.1, 82.5%, 11.2%);
}

.card {
  background-color: blueviolet;
  border: 2px solid red;
  min-height: 100px;
}

/* UTILS */

.flex-container {
  display: flex;
}

/* HEADER */
#header {
  background-color: hsl(210, 16.7%, 97.6%);
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.logo-mobile {
  width: 50px;
}
.search-suggestion,
.search-bar .fa-magnifying-glass,
.search-bar .fa-list,
.search-bar .fa-circle-question,
.search-bar .fa-ellipsis-vertical {
  color: grey;
}

.search-suggestion,
.search-glass {
  border-left: none;
  background-color: #e5e5e5;
}

.search-bar {
  max-width: 80%;
  min-width: 100px;
}

.nav-link li {
  padding: 0 5px;
}

.bell {
  color: hsl(33.6, 100%, 50%);
  font-size: 20px;
}
/* MAIN */
#main {
  width: calc(100vw - 100px);
  background-color: hsl(210, 16.7%, 97.6%);
}

#upper-bar {
  background-color: hsl(214.5, 81.7%, 50.8%);
  min-height: 100px;
}
