/* RESET
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
} */

ul {
  list-style: none;
}

li {
  display: inline-block;
}

/* a {
  color: inherit;
} */

/* UTILS */

/* .container {
  max-width: 1080px;
  padding: 0;
}*/

/* DEBUG */

.debug {
  background-color: green;
  border: 2px solid orange;
  width: 50px;
  aspect-ratio: 1;
}

header {
  min-height: 100px;
}

/* .card {
  background-color: blueviolet;
  border: 2px solid red;
  min-height: 100px;
} */

/* UTILS */

.flex-container {
  display: flex;
}

/* HEADER */
#header {
  background-color: hsl(210, 16.7%, 97.6%);
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.logo-mobile {
  width: 50px;
}
.search-suggestion,
.search-bar .fa-magnifying-glass,
.search-bar .fa-list,
.search-bar .fa-circle-question,
.search-bar .fa-ellipsis-vertical {
  color: grey;
}

.search-suggestion,
.search-glass {
  border-left: none;
  background-color: #e5e5e5;
}

.search-bar {
  max-width: 80%;
  min-width: 100px;
}

.nav-link li {
  padding: 0 5px;
}

.bell {
  color: hsl(33.6, 100%, 50%);
  font-size: 20px;
}

.nav-link .dropdown-menu {
  left: -143px;
}

/* MAIN */
#main {
  width: calc(100vw - 50px);
  background-color: hsl(210, 16.7%, 97.6%);
}

/* side bar */
#side-bar {
  width: 50px;
  height: calc(100vh - 100px);
  background-color: hsl(208.1, 82.5%, 11.2%);
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.side-menu {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.icons-side-menu {
  max-width: 10px;
}

.bottom-menu-item {
  margin-top: auto;
}

/* upper bar */
#upper-bar {
  padding: 10px;
  background-color: hsl(214.5, 81.7%, 50.8%);
  min-height: 100px;
  color: white;
}

.upper-bar-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.upper-bar-section .title-upper-bar {
  font-size: 20px;
}

.upper-bar-button {
  border-radius: 1rem;
  background-color: hsl(214.8, 78.8%, 40.8%);
  text-align: center;
  font-size: 8px;
  padding: 3px 5px;
}

.numero-studenti {
  font-size: 20px;
}

.student-count {
  font-size: 8px;
}

.add-student {
  border: 1px solid white;
  background-color: hsl(214.5, 81.7%, 50.8%);
  border-radius: 0.5rem;
  color: white;
  padding: 5px 10px;
}

/* main content */
#main {
  padding: 20px 10px;
}

#main .row .card {
  border: 1px solid rgba(128, 128, 128, 0.586);
  border-radius: 5px;
  background-color: white;
  margin: 30px 0;
}

.card h3 {
  padding: 10px;
  font-size: 20px;
  background-color: hsl(210, 16.7%, 97.6%);
  border-bottom: 1px solid rgba(128, 128, 128, 0.586);
}

#main .title-row {
  padding-top: 10px;
}

#main .container-info-status {
  padding: 5px 0;
}

.container-table > div {
  font-size: 10px;
}

#main .code-simbol {
  border-radius: 50%;
  background-color: hsl(7.2, 85%, 63.3%);
  color: white;
  width: 20px;
  aspect-ratio: 1;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  margin-right: 5px;
}

#main .status-tag {
  border-radius: 5px;
  padding: 2px 5px;
  color: white;
  display: inline-block;
}

#main .done-tag {
  background-color: hsl(152.2, 68.8%, 31.4%);
}

#main .process-tag {
  background-color: hsl(44.7, 100%, 51.6%);
}

#main .failed-tag {
  background-color: hsl(354.2, 69.6%, 53.5%);
}

#main .operation {
  padding: 2px 5px;
  border: 1px solid grey;
  border-radius: 5px;
  display: inline-block;
  text-align: start;
}
/* card2 */
.card-faq div {
  padding: 15px;
  padding-left: 30px;
  padding-right: 0;
  font-size: 13px;
}

.card-faq .container,
.card-faq .row {
  padding: 0;
  width: 100%;
}

/* card3 */
.todo-check {
  border: 20px;
  border: 1px solid grey;
}

.todo-check div {
  border-bottom: 1px solid grey;
  font-size: 10px;
  padding: 10px 5px;
}

.todo-check input {
  margin-right: 5px;
  border: 1px solid grey;
}

/* card4 */
.card .chart {
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 10px;
}

.card .chart img {
  width: 100%;
}

.card .chart h4 {
  font-size: 15px;
  padding-left: 10px;
  margin-top: 20px;
}

.card .chart div {
  padding: 5px 10px;
}

.card .chart a {
  padding: 15px 10px;
  display: inline-block;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  #upper-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .upper-bar-section {
    max-width: calc(100% / 3);
  }

  .upper-line-upper-bar,
  .bottom-line-upper-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 10px;
  }
}

@media screen and (min-width: 992px) {
  #main {
    width: calc(100vw - 200px);
  }

  #side-bar {
    width: 200px;
  }
}
